@import 'aos/dist/aos.css';
body {
    background-color: #0b0b0b; /* Deep Dark */
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.text-accent {
    color: #00ff88; /* නිල් වෙනුවට පාවිච්චි කළ හැකි ලස්සන Neon Green/Cyan එකක් */
}

.btn-primary {
    background-color: #00ff88;
    border: none;
    color: #000;
}